		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="languageController" id="language-menu">
					<a href="#" ng-click="changeLanguage('en')">English</a>
					|
					<a href="#" ng-click="changeLanguage('it')">Italiano</a>
				</div>	
			</div>
		</div>