body {
    background-color: #100E2B;
    color: #FFFFFF;
	font-family:"Lucida Sans", Verdana, sans-serif;
}

div.error, p.error, span.error {
	color: #FF554F;
}

input[type="text"].error, input[type="password"].error, textarea.error {
	background-color: #FF554F;
}

#language-menu {
	text-align: right;
}

#language-menu a {
	text-decoration: underline;
	color: #FFFFFF;
}

#language-menu a:hover,
#language-menu a:active {
	color: #C9863D;
}

#login-container {
	max-width: 800px;
	margin: 2em auto;	
	text-align: justify;
	line-height: 1.5rem;
}

#img-header {
	max-width: 600px;
	margin: 0em auto;
	text-align: center;
	display: block;
}

#login-container [class*="col-"] /*> div*/ {
	padding: 1.5em;
}

#login-mask {
	display: block;
	/*max-width: 400px;*/
	margin: 0em auto;
}

#login-mask * {
	width: 100%;
}

input[type="submit"] {
	background-color: #C9863D;
	color: #100E2B;
}

input[type="submit"]:hover,
input[type="submit"]:active {
	background-color: #FFFFFF;
}