<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Indigo</title>
    <link rel="stylesheet" href="style/general.css">
	<link rel="stylesheet" href="style/board.css">
	<script type="text/javascript" src="scripts/Polyfills.js"></script>
	<script type="text/javascript" src="scripts/Color.js" ></script>
	<script type="text/javascript" src="scripts/Point.js" ></script>
	<script type="text/javascript" src="scripts/Group.js" ></script>
	<script type="text/javascript" src="scripts/Board.js" ></script>
	<script type="text/javascript" src="scripts/Move.js" ></script>
	<script type="text/javascript" src="scripts/angular/angular.js" ></script>
	<script type="text/javascript" src="scripts/angular/game-module.js" ></script>
	<script type="text/javascript" src="scripts/angular/board-point.js" ></script>
	<script type="text/javascript" src="scripts/angular/board.js" ></script>
  </head>
  <body ng-app='indigo'>
	<div id="login-container">
		<div>
			<img src="pics/header.jpg"/>
		</div>
		<div>
			<p>Welcome to Indigo, an online go playing portal.</p>
			<p>Playing on Indigo is completely free and does not require installing any software.</p>
			<p>Have fun!</p>
		</div>
		<div id="login-mask">
		</div>
	<!--<board size='#size#' />-->
	</div>
  </body>
</html>