<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indigo</title>
    <link rel="stylesheet" href="style/general.css">
	<link rel="stylesheet" href="style/grid.css">
	<link rel="stylesheet" href="style/board.css">
	<script type="text/javascript" src="scripts/Polyfills.js"></script>
	<script type="text/javascript" src="scripts/Color.js" ></script>
	<script type="text/javascript" src="scripts/Point.js" ></script>
	<script type="text/javascript" src="scripts/Group.js" ></script>
	<script type="text/javascript" src="scripts/Board.js" ></script>
	<script type="text/javascript" src="scripts/Move.js" ></script>
	<script type="text/javascript" src="scripts/angular/angular.js" ></script>
	<script type="text/javascript" src="scripts/angular/angular-translate.min.js" ></script>
	<script type="text/javascript" src="scripts/angular/game-module.js" ></script>
	<script type="text/javascript" src="scripts/angular/translate-config.js" ></script>
	<script type="text/javascript" src="scripts/angular/language-controller.js" ></script>
	<script type="text/javascript" src="scripts/angular/board-point.js" ></script>
	<script type="text/javascript" src="scripts/angular/board.js" ></script>
  </head>
  <body ng-app='indigo'>
	<div id="login-container" class="grid">
		<div class="row">
			<div class="col-xs-12">
				<div ng-controller="languageController" id="language-menu">
					<a href="#" ng-click="changeLanguage('en')">English</a>
					|
					<a href="#" ng-click="changeLanguage('it')">Italiano</a>
				</div>	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div id="img-header">
					<img src="pics/header.jpg"/>
				</div>
			<!--<board size='#size#' />-->
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-m-8">
					<p translate="WELCOME1">Welcome to Indigo, an online go playing portal.</p>
					<p translate="WELCOME2">Playing on Indigo is completely free and does not require installing any software.</p>
					<p translate="WELCOME3">Have fun!</p>
			</div>
			<div class="col-xs-12 col-m-4">		
					<form id="login-mask">
						<p><input type="text" placeholder="Username or email" /></p>
						<p><input type="password" placeholder="Password"</p>
						<p><input type="submit" value="Enter"></input></p>
					</form>
			</div>
		</div>
	</div>
  </body>
</html>